@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=WindSong:wght@500&display=swap');
.entire_page
{
        height: 100vh;
        
        background-color: aquamarine;
       
        display:flex;
}
.portion
{
        height: 100vh;
        width: 50%;
}
#portion-1
{
        background-color: darkorange;
}
#portion-2
{
        background-color:brown;
}
#msg-box
{
        
        
        position: absolute;
        top: 30%;
        left: 25%;
        right: 25%;
        bottom: 30%;
        
        background-image: linear-gradient(to right,brown,darkorange);

}
#text
{
        /*font-family: 'Style Script', cursive;
        
        font-family: 'WindSong', cursive;*/
        font-family: 'Klee One', cursive;
        text-align: center;
        font-size: 40px;
        padding: 15%;
        color: white;
        text-shadow: 3px 0px rgb(26, 25, 25);
        
}